DJANGO_DEBUG=true
DJANGO_SECRET_KEY=dev-secret-key-change-me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_TIME_ZONE=Asia/Tbilisi
CORS_ALLOWED_ORIGINS=http://localhost:5173

DB_ENGINE=django.db.backends.postgresql
DB_NAME=expertpay
DB_USER=expertpay
DB_PASSWORD=expertpay
DB_HOST=127.0.0.1
DB_PORT=5433
